@font-face {
  font-family: Mitr-Light;
  src: url("/public/fonts/Mitr-Light.ttf");
}

@font-face {
  font-family: Mitr-Regular;
  src: url("/public/fonts/Mitr-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mitr-Regular;
}

.title {
  font-family: Mitr-Light;
}

.text-right {
  text-align: right;
}
.test-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
