@font-face {
  font-family: Kanit-Bold;
  src: url("/public/fonts/Kanit-Bold.ttf");
}

@font-face {
  font-family: Kanit-Regular;
  src: url("/public/fonts/Kanit-Regular.ttf");
}
@font-face {
  font-family: Kanit-Medium;
  src: url("/public/fonts/Kanit-Medium.ttf");
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .title {
    font-size: 16px;
  }
  .img-1 {
    margin-right: 20px;
  }
  img {
    width: 60;
    height: auto;
  }
}

/* Responsive styles for medium-sized screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .title {
    font-size: 18px;
  }
  .img-1 {
    margin-right: 30px;
  }
  img {
    width: 80;
    height: auto;
  }
}

/* Responsive styles for larger screens */
@media screen and (min-width: 1025px) {
  .title {
    font-size: 20px;
  }
  .img-1 {
    margin-right: 50px;
  }
  img {
    width: 100;
    height: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit-Medium;
}

.title {
  font-family: Kanit-Regular;
  color: #a9acba;
}

.title-content {
  font-family: Kanit-Bold;
}

.text-right {
  text-align: right;
}
.test-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.body-background {
  background-color: #edeafe;
  height: 80vh;
}
.my-container {
  background-color: #edeafe;
  height: 10vh;
  width: 100vw;
}

.custom-btn-color {
  border-color: #9782fa;
  color: #a9acba;
}

.custom-btn-color:hover {
  background-color: #9782fa;
  color: #fff;
}

.custom-btn-color2 {
  border-color: #9782fa;
  background: linear-gradient(to right, #ae9ef5, #9782fa);
  color: #ffff;
}

.custom-btn-color2:hover {
  border-color: #9782fa;
  background: #fff;
  color: #a9acba;
}

img {
  width: auto;
  height: auto;
}

.img-1 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  max-width: 10%;
  height: auto;
  margin-right: 50px;
}

.flippable-img {
  transform: scaleX(-1);
}
